app='bs://36626e2a064846da3749b13fd4c05ce799bd8f86'
remote_url='hub-cloud.browserstack.com/wd/hub'
usrName='dinin_jlw6Jx'
accessKey='YjvbW8KSF3wBHdxP2R1C'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'
browserStackUrl='hub-cloud.browserstack.com/wd/hub'
browserStackApi='https://api.browserstack.com/app-automate/sessions/'
appName='ru.hh.android'